In [1]:
from selenium import webdriver

In [4]:
driver = webdriver.Chrome('./chromedriver_74')
driver.get("http://naver.com")

In [7]:
driver.save_screenshot('./001.png')

True

In [8]:
driver.close()

In [ ]:
# 4-2 서울시 구별 주유소 가격 정보 얻기

In [11]:
from selenium import webdriver

driver = webdriver.Chrome('./chromedriver_74')
driver.get("https://goo.gl/VH1A5t")

In [12]:
# XPATH를 이용해서 element를 찾고 gu_list_raw 변수에 저장
# 구 리스트는 find_elements_by_tage_name으로 option이라는 태그로 찾음

gu_list_raw = driver.find_element_by_xpath("""//*[@id="SIGUNGU_NM0"]""")
gu_list = gu_list_raw.find_elements_by_tag_name("option")

In [19]:
gu_names = [option.get_attribute("value") for option in gu_list]
gu_names.remove('')
gu_names

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [27]:
element = driver.find_element_by_id("SIGUNGU_NM0")
element.send_keys(gu_names[0])

In [28]:
xpath = """//*[@id="searRgSelect"]/span"""
element_sel_gu = driver.find_element_by_xpath(xpath).click()

In [29]:
# 엑셀로 지역_위치별(주유소)저장
xpath = """//*[@id="glopopd_excel"]"""
element_sel_gu = driver.find_element_by_xpath(xpath).click()

In [38]:
# !pip install tqdm

import time
from tqdm import tqdm_notebook

for gu in tqdm_notebook(gu_names):
    element = driver.find_element_by_id("SIGUNGU_NM0")
    element.send_keys(gu)
    
    time.sleep(2)
    
    # 엑셀로 지역_위치별(주유소)저장
    xpath = """//*[@id="glopopd_excel"]"""
    element_sel_gu = driver.find_element_by_xpath(xpath).click()
    
    time.sleep(1)

HBox(children=(IntProgress(value=0, max=25), HTML(value='')))

In [40]:
# 4-3 구별 주유 가격에 대한 데이터의 정리

import pandas as pd
from glob import glob

In [41]:
glob('./data/지역*.xls')

['./data/지역_위치별(주유소) (9).xls',
 './data/지역_위치별(주유소) (12).xls',
 './data/지역_위치별(주유소) (5).xls',
 './data/지역_위치별(주유소) (24).xls',
 './data/지역_위치별(주유소) (4).xls',
 './data/지역_위치별(주유소) (13).xls',
 './data/지역_위치별(주유소) (8).xls',
 './data/지역_위치별(주유소) (3).xls',
 './data/지역_위치별(주유소) (18).xls',
 './data/지역_위치별(주유소) (22).xls',
 './data/지역_위치별(주유소) (14).xls',
 './data/지역_위치별(주유소) (15).xls',
 './data/지역_위치별(주유소) (23).xls',
 './data/지역_위치별(주유소) (19).xls',
 './data/지역_위치별(주유소) (2).xls',
 './data/지역_위치별(주유소) (20).xls',
 './data/지역_위치별(주유소) (1).xls',
 './data/지역_위치별(주유소) (16).xls',
 './data/지역_위치별(주유소) (17).xls',
 './data/지역_위치별(주유소) (21).xls',
 './data/지역_위치별(주유소) (10).xls',
 './data/지역_위치별(주유소).xls',
 './data/지역_위치별(주유소) (7).xls',
 './data/지역_위치별(주유소) (6).xls',
 './data/지역_위치별(주유소) (11).xls']

In [43]:
# station 변수에 각 엑셀파일의 경로와 이름을 리스트로 저장합니다.

stations_files = glob('./data/지역*.xls')
stations_files

['./data/지역_위치별(주유소) (9).xls',
 './data/지역_위치별(주유소) (12).xls',
 './data/지역_위치별(주유소) (5).xls',
 './data/지역_위치별(주유소) (24).xls',
 './data/지역_위치별(주유소) (4).xls',
 './data/지역_위치별(주유소) (13).xls',
 './data/지역_위치별(주유소) (8).xls',
 './data/지역_위치별(주유소) (3).xls',
 './data/지역_위치별(주유소) (18).xls',
 './data/지역_위치별(주유소) (22).xls',
 './data/지역_위치별(주유소) (14).xls',
 './data/지역_위치별(주유소) (15).xls',
 './data/지역_위치별(주유소) (23).xls',
 './data/지역_위치별(주유소) (19).xls',
 './data/지역_위치별(주유소) (2).xls',
 './data/지역_위치별(주유소) (20).xls',
 './data/지역_위치별(주유소) (1).xls',
 './data/지역_위치별(주유소) (16).xls',
 './data/지역_위치별(주유소) (17).xls',
 './data/지역_위치별(주유소) (21).xls',
 './data/지역_위치별(주유소) (10).xls',
 './data/지역_위치별(주유소).xls',
 './data/지역_위치별(주유소) (7).xls',
 './data/지역_위치별(주유소) (6).xls',
 './data/지역_위치별(주유소) (11).xls']

In [45]:
# !pip install xlrd

tmp_raw = []

# read_excel로 각 파일을 반복문을 이용해서 읽은 후 tmp_raw 변수에 append 시킵니다.
# 반복문이 끝나고 나면 concat 명령으로 쉽게 하나로 합칠 수 있습니다.
# 방긍금 25개 엑셀 파일을 하나로 합쳤습니다.
for file_name in stations_files:
    tmp = pd.read_excel(file_name, header=2)
    tmp_raw.append(tmp)

station_raw = pd.concat(tmp_raw)

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
    100% |████████████████████████████████| 112kB 1.6MB/s ta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
You are using pip version 19.0.3, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [46]:
# 총 545개의 주유소 정보가 저장 된것을 확인
# 가격정보가 숫자형(int, float)이 아니어서 나중에 처리

station_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506 entries, 0 to 9
Data columns (total 10 columns):
지역       506 non-null object
상호       506 non-null object
주소       506 non-null object
상표       506 non-null object
전화번호     506 non-null object
셀프여부     506 non-null object
고급휘발유    506 non-null object
휘발유      506 non-null object
경유       506 non-null object
실내등유     506 non-null object
dtypes: object(10)
memory usage: 43.5+ KB

In [47]:
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,도봉제일주유소(주)송만에너지,서울특별시 도봉구 도봉로 783 (도봉동),현대오일뱅크,02-955-5185,N,-,1475,1355,990
1,서울특별시,삼미북부셀프주유소,서울특별시 도봉구 도봉로 437 (쌍문동),SK에너지,02-992-5561,Y,-,1476,1350,1000
2,서울특별시,지에스칼텍스㈜ 도봉주유소,서울 도봉구 도봉로 895 (도봉동),GS칼텍스,02-954-0118,Y,1720,1479,1365,1000
3,서울특별시,한이에너지(주)KLP제1주유소,서울특별시 도봉구 도봉로 596 (창동),현대오일뱅크,02-902-5189,N,-,1480,1360,-
4,서울특별시,지에스칼텍스㈜ 방학동주유소,서울 도봉구 방학로 186,GS칼텍스,02-3493-5189,Y,1640,1480,1360,1000

In [49]:
stations = pd.DataFrame({'Oil_store':station_raw['상호'],
                        '주소': station_raw['주소'],
                        '가격': station_raw['휘발유'],
                        '셀프': station_raw['셀프여부'],
                        '상표': station_raw['상표']})

stations.head()

          Oil_store                        주소    가격 셀프      상표
0   도봉제일주유소(주)송만에너지  서울특별시 도봉구  도봉로 783 (도봉동)  1475  N  현대오일뱅크
1         삼미북부셀프주유소  서울특별시 도봉구  도봉로 437 (쌍문동)  1476  Y   SK에너지
2     지에스칼텍스㈜ 도봉주유소      서울 도봉구 도봉로 895 (도봉동)  1479  Y   GS칼텍스
3  한이에너지(주)KLP제1주유소   서울특별시 도봉구  도봉로 596 (창동)  1480  N  현대오일뱅크
4    지에스칼텍스㈜ 방학동주유소            서울 도봉구 방학로 186  1480  Y   GS칼텍스

In [51]:
# 주소에서 구 이름만 추출 합니다. 
# 그래서 구별 주유 가격도 조사하겠습니다.
# 주소 컬럼의 주소를 봤을 때 빈칸을 기준으로 분리(split)시키고 두 번째 단어를 선택하면 구 이름이 됨

stations['구'] = [eachAddress.split()[1] for eachAddress in stations['주소']]
stations.head()

          Oil_store                        주소    가격 셀프      상표    구
0   도봉제일주유소(주)송만에너지  서울특별시 도봉구  도봉로 783 (도봉동)  1475  N  현대오일뱅크  도봉구
1         삼미북부셀프주유소  서울특별시 도봉구  도봉로 437 (쌍문동)  1476  Y   SK에너지  도봉구
2     지에스칼텍스㈜ 도봉주유소      서울 도봉구 도봉로 895 (도봉동)  1479  Y   GS칼텍스  도봉구
3  한이에너지(주)KLP제1주유소   서울특별시 도봉구  도봉로 596 (창동)  1480  N  현대오일뱅크  도봉구
4    지에스칼텍스㈜ 방학동주유소            서울 도봉구 방학로 186  1480  Y   GS칼텍스  도봉구